div#formContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    gap: 10px;
}

button[type="submit"]{
    float: right;
}

#assigned{
    grid-column: 1;
    grid-row: 5;
}

select[name="title"]{
    grid-column: 1;
    grid-row: 1;
}

input[name="firstname"]{
    grid-column: 1;
    grid-row: 2;
}

input[name="lastname"]{
    grid-column: 2;
    grid-row: 2;
}

input[name="email"]{
    grid-column: 1;
    grid-row: 3;
}

input[name="telephone"]{
    grid-column: 2;
    grid-row: 3;
}

input[name="company"]{
    grid-column: 1;
    grid-row: 4;
}

select[name="type"]{
    grid-column: 2;
    grid-row: 4;
}